<section class="about section" id="about">
    <div class="container">
        <div class="section-title padd-15">
            <h2>About Me</h2>
        </div>
    </div>
    <div class="row">
        <div class="about-content padd-15">
            <div class="row">
                <div class="about-text padd-15">
                    <h3>I'm Mugimaasree and <span>Web Developer</span></h3>
                    
                </div>
            </div>
            <div class="row">
                <div class="personal-info padd-15">
                    <div class="row">
                        <div class="info-item padd-15">
                            <p>Birthday : <span>07 Dec 2002</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>Age : <span>20</span></p>
                        </div>
                        
                        <div class="info-item padd-15">
                            <p>Email : <span>mugimaasree@gmail.com</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>Diplomo : <span>DCSE</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>Phone : <span>+91 6381215061</span></p>
                        </div>
                        <div class="info-item padd-15">
                            <p>City : <span>Tenkasi</span></p>
                        </div>
                    </div>
                   
                </div>
                <div class="skills padd-15">
                    <div class="row">
                        <div class="skill-item padd-15">
                            <h5>HTML</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 80%;"></div>
                                <div class="skill-percent">80%</div>
                            </div>
                        </div>
                        <div class="skill-item padd-15">
                            <h5>CSS</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 70%;"></div>
                                <div class="skill-percent">70%</div>
                            </div>
                        </div>
                        <div class="skill-item padd-15">
                            <h5>JS</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 76%;"></div>
                                <div class="skill-percent">76%</div>
                            </div>
                        </div>
                        <div class="skill-item padd-15">
                            <h5>TS & Angular</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 80%;"></div>
                                <div class="skill-percent">80%</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="education padd-15">
                    <h3 class="title">Education</h3>
                    <div class="row">
                        <div class="timeline-box padd-15">
                            <div class="timeline shadow-dark">
                               
                                <div class="timeline-item" style="padding-bottom: 0px;">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2020 - 2022
                                    </h3>
                                    <h4 class="timeline-title">Diplomo computer Engineering (90%)</h4>
                                    
                                </div>
                                <div class="timeline-item" style="padding-bottom: 0px;">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2019 - 2020
                                    </h3>
                                    <h4 class="timeline-title">HSC +2 (53%)</h4>
                                    
                                </div>
                                <div class="timeline-item" style="padding-bottom: 0px;">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2018-2019
                                    </h3>
                                    <h4 class="timeline-title">HSC +1 (54%)</h4>
                                    
                                </div>
                                <div class="timeline-item" style="padding-bottom: 0px;">
                                    <div class="circle-dot"></div>
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2017 - 2018
                                    </h3>
                                    <h4 class="timeline-title">SSLC (81%)</h4>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>
    </div>
</section>