<section class="portfolio section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="section-title padd-15">
          <h2>Portfolio</h2>
        </div>
      </div>
      <div class="row">
        <div class="portfolio-heading padd-15">
          <h2>My Projects</h2>
        </div>
      </div>
      <div class="row" id="add-item">
        <ul class="product-list">
          <li *ngFor="let product of productList" class="product-item">
            <div class="portfolio-item padd-15">
              <div class="portfolio-item-inner shadow-dark">
                <div class="portfolio-img">
                  <a [href]="product.webpageUrl">  <!-- target="_blank" -->
                    <img [src]="'assets/images/portfolio/' + product.image" alt="">
                  </a>
                </div>
                <p style="text-align: center; font-weight: 600;">{{ product.title }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  