<section class="home section" id="home">
        <div class="row">
            <div class="home-img padd-15">
                <img src="assets/images/portfolio/pic3.jpeg" alt="">
            </div>
            <div class="home-info padd-15">
                <h3 class="hello">Hello, my name is <span class="name">Mugimaasree</span></h3>
                <h3 class="my-profession">I'm a <span class="typing"></span></h3>
                <p class="text">I'm a web Designer with extensive experience for over 5 months. My expertise is to create and website design and many more...</p>
            </div>
            
        </div>
        
</section>